footer {
    background-color: $blueZodiac;
    width: 100%;
    div {
        display: inline;
        width: 18%;
        min-width: 200px;
        margin: 15px 0px;
        color: $alabaster;
        font-size: .9em;
        border-left: solid 1px $blackPearl;
        h4 {
            background-color: $blackPearl;
            color: $alabaster;
            text-align: center;
            font-size: 2em;
            padding: .5em;
            min-width: 180px;
        }
        &.logos-footer {
            height: 125px;
            width: 213px;
            padding: 0px;
            img {
                float: left;
                margin: 5px;
            }
        }
    }
    .footer-first {
        border-left: 0px;
    }
    li {
        list-style-type: circle;
        margin-left: 5%;
    }
}


/*================================
=    COPYRIGHT          =
================================*/

.copyright {
    color: $white;
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
}

.no-border {
    border-left: none;
}
