.footer {
    height: 200px;
    background-color: $blueZodiac;
    color: $doveGray;
    position: relative;
    div {
        display: inline-block;
        width: 25%;
        padding-left: 15px;
        h4 {
            background-color: $blackPearl;
            height: 40px;
            line-height: 40px;
            color: $alabaster;
            white-space: nowrap;
            width: 200px;
            text-align: center;
            font-weight: normal;
        }
        &.logos-footer {
            position: absolute;
            top: 10px;
            padding: 35px;
            img {
                padding: 25px;
            }
        }
    }
}

.copyright {
    color: $white;
    font-size: 12px;
    text-align: center;
}
