.footer {
    height: 200px;
    min-width: 1000px;
    background-color: $blueZodiac;
    color: $doveGray;
    position: relative;
    div {
        float: left;
        width: 20%;
        min-width: 220px;
        margin: 10px;
        color: $alabaster;
        h4 {
            background-color: $blackPearl;
            height: 40px;
            line-height: 40px;
            color: $alabaster;
            white-space: nowrap;
            width: 200px;
            text-align: center;
            font-weight: normal;
        }
        &.logos-footer {
            height: 100px;
            width: 250px;
            img {
                margin: 10px;
                float: left;
            }
        }
    }
}

.copyright {
    color: $white;
    font-size: 12px;
    text-align: center;
}
