.input-append {
    position: relative;
}

.icon {
    position: absolute;
    top: 7px;
    left: 190px;
}

.search-container {
    display: inline-block;
    height: 35px;
    margin: 4px 10px 0px 0px;
}

.search-container .search-input {
    background-color: transparent;
    border: medium none;
    color: #999;
    font-size: 0.9em;
    height: auto;
    margin: 8px 5px 0px 12px;
    width: 185px;
}

.search-container .search-submit {
    margin: 5px 0 0 10px;
    width: 25px;
}

.search-query {
    background-color: #fff;
    border-radius: 14px;
    border: none;
    padding: 4px;
    padding-left: 10px;
    padding-right: 82px;
    margin-right: 5px;
}

.button-container {
    width: 60%;
    height: 40px;
    float: right;
}

.facebook-btn {
    float: left;
    margin: 6px 15px 0px 0px;
}

.donate-btn {
    float: right;
    margin: 0px 0px 0px 10px;
}

.bhs-logo {
    float: left;
    position: relative;
    margin: 10px 0px 0px 10px;
    z-index: 100;
}
