    header {
        position: relative;
        background: linear-gradient(#1b2935, #23446a);
    }
    
    header .facebook-icon {
        position: absolute;
        top: 8px;
        left: 380px;
        padding: 9px 10px 0 15px;
    }
    
    header .donate {
        position: absolute;
        top: 14px;
        right: 0;
    }
    
    header .bhs-logo {
        position: absolute;
        top: 0px;
        left: 10px;
        z-index: 99;
    }
    
    header .bhs-logo {
        animation-duration: 3s;
        animation-name: slidein;
    }
    
    @keyframes slidein {
        from {
            top: -200px;
            left: 10px;
        }
        to {
            top: 0px;
            left: 10px;
        }
    }
    
    div.search-container {
        width: 25%;
        height: 37px;
        background-color: white;
        border-radius: 20px;
        position: absolute;
        top: 13px;
        left: 530px;
        .search-input {
            background-color: transparent;
            border: medium none;
            color: $black;
            float: left;
            font-size: 0.9em;
            height: auto;
            margin: 8px 5px 0px 12px;
            width: 230px;
        }
        .search-submit {
            position: absolute;
            top: 12px;
            left: 255px;
        }
    }
