body {
    background: linear-gradient(#1b2935, #23446a);
}

.content {
    margin: auto;
    background-color: $alabaster;
    padding: 0px;
}

main {
    float: left;
    margin-left: 0px;
}



.services {
    font-family: serif;
    display: inline;
    text-align: left;
    margin-left: 12px;
}

.body-copy {
    display: inline-block;
}

.column-container {
  padding: 10px;
  h2 {
    text-align: left;
    font-family: serif;
    color: $doveGray;
    font-size: 2em;
    width: 90%;
    padding-top: 10px;
    border-bottom: solid 1px $doveGray;
    }
  p {
    margin: 0px;
    font-size: .85em;
    padding-bottom: 30px;
  }
  div.body-text {
    float: left;
    width: 320px;
    padding-right: 10px;
  }
  .strong {
    color: $chathamsBlue;
}
}

