body {
    width: 100%;
}

.content-container {
    border: solid red 1px;
    width: 100%;
    font-size: 14px;
}

.content {
    width: 80%;
    margin: auto;
    background-color: $alabaster;
    margin: auto;
    position: relative;
}

.main {
    width: 75%;
    float: left;
}

.col-one {
    float: left;
    width: 320px;
    margin-left: 12px;
    padding: 10px;
}

.services {
    font-family: serif;
    display: inline;
    text-align: left;
    margin-left: 12px;
}

.prevention {
    font-family: serif;
    color: $doveGray;
    font-size: 25px;
    padding: 15px 0px;
    width: 600px;
    margin-left: 25px;
    border-bottom: solid 1px $doveGray;
}

.strong {
    color: $gallery;
}

.body-copy {
    display: inline-block;
}
