body {
    width: 100%;
    background: linear-gradient(#1b2935, #23446a);
}

.content-container {
    width: 100%;
}

.content {
    width: 80%;
    margin: auto;
    background-color: $alabaster;
    margin: auto;
    position: relative;
}

.main {
    width: 70%;
    max-width: 680px;
    float: left;
}

.col-one {
    float: left;
    width: 320px;
    margin-left: 12px;
    padding: 10px;
}

.services {
    font-family: serif;
    display: inline;
    text-align: left;
    margin-left: 12px;
}

.prevention {
    font-family: serif;
    color: $doveGray;
    font-size: 2em;
    padding: 15px 15px;
    width: 100%;
    margin: 0px;
    text-align: center;
    border-bottom: solid 1px $doveGray;
}

.strong {
    color: $gallery;
}

.body-copy {
    display: inline-block;
}
