.top-nav {
    position: absolute;
    top: 15px;
    left: 110px;
    font-size: 14px;
}

.top-nav li {
    display: inline;
    padding-left: 3px;
}

.top-nav li::before {
    content: "|";
    padding-right: 5px;
    padding-left: 5px;
}

.top-nav li:first-child:before {
    content: " "
}

.top-nav a {
    text-decoration: none;
    color: $white;
}


/*================================
=            Main Nav            =
================================*/

nav {
    position: absolute;
    top: 60px;
    left: 0px;
    font-size: 18px;
    background-color: $alabaster;
    width: 100%;
    border-top: $doveGray solid 30px;
    border-bottom: $doveGray solid 30px;
}

.nav li {
    display: inline;
    padding-left: 3px;
}

.nav li::before {
    content: "|";
    padding-right: 5px;
    padding-left: 5px;
}

.nav li:first-child:before {
    content: " ";
}

.nav li:first-child {
    margin-left: 70px;
}

nav a {
    text-decoration: none;
    color: $doveGray;
    margin: 15px;
}
