.top-header {
    background: linear-gradient(#1b2935, #23446a);
    width: 100%;
    color: $white;
}


/*================================
=            TOP Nav            =
================================*/

.top-nav {
    font-size: .9em;
    padding: 20px 0px 30px 125px;
    li {
        float: left;
        list-style: none;
    }
    span {
        padding: 0 10px;
        color: $white;
    }
    a {
        color: $white;
        text-decoration: none;
    }
}


/*================================
=            Main Nav            =
================================*/

nav.main-nav {
    background-color: $alabaster;
    border-top: $doveGray solid 20px;
    border-bottom: $doveGray solid 20px;
    height: 80px;
    text-transform: uppercase;
    border-radius: 0px;
    font-size: 16px;
}

.nav.navbar-nav.top-nav-black {
    font-size: .9em;
    padding: 4px 0px 30px 125px;
    li {
        float: left;
        list-style: none;
    }
    span {
        padding: 0 10px;
        color: $black;
    }
    a {
        color: $black;
        text-decoration: none;
    }
}

.nav.navbar-nav {
    font-size: .9em;
    padding: 0px 0px 30px 125px;
    li {
        float: left;
        list-style: none;
    }
    span {
        padding: 0 10px;
        color: $white;
    }
    a {
        color: $white;
        text-decoration: none;
    }
}


/*================================
=    TOGGLE DROP DOWN           =
================================*/

.navbar-toggler {
    float: right;
}


/*================================
=    FOOTER NAV UL           =
================================*/

.footer div {
    display: inline;
    padding-left: 15px;
    border-left: solid $white 1px;
    height: 150px;
    overflow: hidden;
}

.footer-nav.footer-first {
    border-left: none;
}
