.top-nav {
    position: absolute;
    top: 15px;
    left: 90px;
    font-size: 14px;
}

.top-nav li {
    display: inline;
    padding-left: 3px;
}

.top-nav li::before {
    content: "|";
    padding-right: 5px;
    padding-left: 5px;
}

.top-nav li:first-child:before {
    content: " "
}

.top-nav a {
    text-decoration: none;
    color: $white;
}


/*================================
=            Main Nav            =
================================*/

nav {
    margin: 0 auto;
    background-color: $white;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    > li {
        float: none;
        display: inline-block;
    }
}
