/* ASIDE */

aside {
    width: 100%;
    margin-left: 0px;
    padding: 0px;
    float: left;
    background-color: $white;
    .img-fluid.img-date {
        width: 50%;
        margin: 10px 10px 10px 50%;
    }
}


/* ASIDE MEDIA */

.testimonials {
    color: $alabaster;
    background-color: $chathamsBlue;
    padding: 7px;
    position: relative;
    width: 100%;
}

.test {
    position: absolute;
    top: 0px;
    left: -22px;
    z-index: 1;
}

.btn-group {
    width: 100%;
    margin: 20px auto;
    .orange {
        width: 100%;
        margin: 5px 0px 5px 0px;
        display: block;
    }
}

.testimonials-text {
    width: 100%;
    p {
        padding: 0px;
        width: 50%;
    }
    a {
        display: block;
    }
}

.aside-text {
    font-size: .8em;
    float: left;
    width: 200px;
    padding: 5%;
}

img.grad {
    width: 50%;
    float: right;
}

article {
    font-size: .8em;
    h4 {
        border-bottom: solid 1px $doveGray;
        color: $highlightBlue;
    }
    .date {
        color: $highlightOrange;
    }
}
