/* ASIDE */

aside {
    width: 25%;
    height: auto;
    margin-left: 0px;
    float: left;
    border: solid 1px red;
    img.since1973 {
        padding: 10px;
    }
}


/* ASIDE MEDIA */

.get-involved {
    display: none;
}

.fbimg {
    width: 100%;
    max-width: 238px;
    max-height: auto;
}

.testimonials {
    color: $alabaster;
    background-color: $chathamsBlue;
    padding: 5px;
    position: relative;
    height: 30px;
}

.test {
    position: absolute;
    top: 0px;
    left: -22px;
}

.testimonials-text {
    position: relative;
}

.testimonials-text {
    width: 140px;
}

.testimonials-text img {
    float: right;
}

.buttons {
    width: 40%;
    float: left;
}
