@media screen and (max-width: 1200px) {}

@media screen and (max-width: 767px) {
    .column-container {
        div.body-text {
            display: block;
            width: 100%;
        }
    }
    aside {
        padding: 0px;
    }
    .testimonials {
        width: 100%;
        img {
            display: none;
        }
    }
}


/* Responsive Nav */

@media screen and (max-width: 992px) {
    header .donate {
        display: none;
    }
    header .facebook-icon {
        display: none;
    }
    div.search-container {
        display: none;
    }
    .navbar-toggler {
        visibility: visible;
    }
    .column-container {
        div.body-text {
            display: block;
            width: 100%;
        }
    }
    nav.main-nav {
        li {
            width: 100%;
            margin: 15px;
            display: inherit;
        }
        li::before {
            content: none;
        }
        li:first-child:before {
            content: " ";
        }
    }
    /*================================
=    TOGGLE DROP DOWN           =
================================*/
    .navbar-toggler {
        position: relative;
        z-index: 99!important;
        float: right;
    }
    .collapse {
        background-color: $white;
        margin-bottom: 50px;
        position: relative;
        z-index: 4;
    }
    .nav.navbar-nav {
        li {
            width: 100%;
        }
        a {
            color: $black;
            font-weight: bold;
            margin-left: 0px;
            width: 100%;
        }
    }
    footer {
        margin-top: 0px;
    }
    footer div {
        border-left: 1px red solid;
    }
    aside {
        background-color: $mercury;
        .img-date {
            display: none;
        }
    }
}
