//USE SASS FUNCTION
$blueZodiac: hsl(210, 40%, 20%); //main blue color in footer and strong
$darken: darken(#F7F6F0, 30%);
$white: #ffffff;
$black: #000000;
$doveGray: #666666;
$alabaster:#fbfbfb;
$mercury:#e6e6e6;
$blackPearl:#091f37;
$chathamsBlue:#173f6b;
$highlightBlue:#1E4B86;
$highlightOrange:#ED792A;
